.estiloPagina {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input{
  border-radius: 20%;
}
p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
